UDYAM_WEB_SNOWFLAKE_ACCOUNT=YOUR_SNOWFLAKE_ACCOUNT
UDYAM_WEB_SNOWFLAKE_USER=UDYAM_PUBLIC_SVC
UDYAM_WEB_SNOWFLAKE_PASSWORD=CHANGE_ME
UDYAM_WEB_SNOWFLAKE_ROLE=UDYAM_PUBLIC_READER
UDYAM_WEB_SNOWFLAKE_WAREHOUSE=UDYAM_PUBLIC_WH
UDYAM_WEB_SNOWFLAKE_DATABASE=UDYAM
UDYAM_WEB_SNOWFLAKE_SCHEMA=RAW_GOLD

# Comma-separated list of origins allowed to call this API
UDYAM_WEB_CORS_ORIGINS=https://msme.sumantk.in

UDYAM_WEB_POOL_SIZE=4
UDYAM_WEB_LOG_LEVEL=INFO
