UDYAM_API_KEY=YOUR_API_KEY
UDYAM_RUN_ID=
UDYAM_TEST_STATE=ANDAMAN AND NICOBAR ISLANDS
UDYAM_MAX_WORKERS=3
UDYAM_BATCH_SIZE=10000
UDYAM_MAX_RETRIES=5
UDYAM_CONNECT_TIMEOUT=30
UDYAM_MAX_REQUEST_TIME=300
UDYAM_RETRY_BACKOFF_BASE=5
UDYAM_RETRY_BACKOFF_MAX=60
UDYAM_RETRY_JITTER=3
UDYAM_RATE_LIMIT_DELAY=30
UDYAM_LOG_LEVEL=INFO
